html{scroll-behavior: smooth;}
body{
  background: url("../imgs/bg.png");
  background-repeat: no-repeat;
  background-size: cover;
  background-attachment: fixed;
}
h2, h3, h4 {
  color: #2a8080;
}
h2 em{
  font-size: 25px;
  display: block;
}
h2, h3{
  font-weight: bold;
}
header {
  margin-top: 50px;
}
.grupo-imprimir {
  margin-top: 45px;
  margin-bottom: 20px;
}
.container{max-width: 1080px;}
.panel .img-responsive{max-width: 70%;}
.panel-heading{
  background: #2a8080 !important;
  margin: 0 -10px;
  border-radius: 10px;
}
.panel-heading h4 a{
  background: url('../imgs/ico_gaita_fecha.png') no-repeat right center;
  color: #fff;
  transition: all .4s;
}
.panel-heading h4 a.collapsed{background: url('../imgs/ico_gaita_abre.png') no-repeat right center;}
.panel-group .panel-heading+.panel-collapse>.panel-body{
  border: 2px solid #2a8080;
  border-top: none;
}
.caixa-destaque-livre{
  background-color: #80372d;
}
.caixa-destaque-livre p, .caixa-destaque-livre li{color: #fff;}

li {
  list-style-image: url(../imgs/marcador2.png);
}
.caixa-destaque-livre li{list-style-image: url(../imgs/marcador1.png);}


.figura{
  border-radius: 20px;
  box-shadow: 10px 10px 14px -6px rgba(0,0,0,0.75);
-webkit-box-shadow: 10px 10px 14px -6px rgba(0,0,0,0.75);
-moz-box-shadow: 10px 10px 14px -6px rgba(0,0,0,0.75);
}

.modal-content{
  /* background: url('../imgs/bg_modal.jpg') repeat; */
}
.modal-body .btn{
  background: url('../imgs/fechar.png') no-repeat;
  width: 125px;
  height: 61px;
  border: none;
}
.modal-body .btn:hover{background: url('../imgs/fechar_hover.png') no-repeat;}
.modal-body .close{
  background: url('../imgs/ico_fechar.png') no-repeat;
  height: 63px;
  width: 63px;
  opacity: 1;
}
.modal-body .close:hover{background: url('../imgs/ico_fechar_hover.png') no-repeat;}
.modal-body .container, .bloco.branco2 .modal-body .container{
  background: #f0f0f0;
  padding: 20px 50px;
}
.modal-100 .modal-dialog .modal-content .modal-header{
  display: flex;
  flex-wrap: nowrap;
  align-items: center;
  border-bottom: 1px solid #2a8080;
  padding: 0;
}
.modal-100 .modal-dialog .modal-content .modal-header h3{width: 90%;}

.carousel-control.left{
  background: url('../imgs/seta_voltar.png') no-repeat;
  height: 63px;
  width: 63px;
  opacity: 1;
  left: -30px;
  top: 0;
  bottom: 0;
  margin: auto;
}
.carousel-control.left:hover{background: url('../imgs/seta_voltar_hover.png') no-repeat;}

.carousel-control.right{
  background: url('../imgs/seta_avancar.png') no-repeat;
  height: 63px;
  width: 63px;
  opacity: 1;
  right: -30px;
  top: 0;
  bottom: 0;
  margin: auto;
}
.carousel-control.right:hover{background: url('../imgs/seta_avancar_hover.png') no-repeat;}
.bloco header.container{background: transparent;}
.bloco .container{
  border-radius: 50px;
  background: #fff;
  padding: 50px
}
.bloco{padding-bottom: 70px;}
.bloco1{
  background: url('../imgs/bg1.jpg') no-repeat center;
  background-size: cover;
  margin-top: 80px;
}
.caixa-destaque-livre.verde{background-color: #2a8081;}
.divisores-parallax{
  position: relative;
}
.divisor-top{
  top: -2px;
  left: 0px;
  position: absolute;
  z-index: 10;
}
.divisor-bottom{
  bottom: -1px;
  left: 0px;
  position: absolute;
  z-index: 10;
}
.parallax {
  min-height: 300px;
  background: transparent;
  width: 100% !important;
}
.parallax-mirror {
  z-index: unset !important;
  width: 100% !important;
}
.parallax-mirror {
  z-index: unset !important;
  width: 100% !important;
}
.parallax-slider {
  width: 100%;
}
.bloco2{
  background: url('../imgs/bg2.jpg') no-repeat center;
  background-size: cover;
}
.bloco2 .container{background-color: transparent;}

.painel{
  display: flex;
  flex-wrap: wrap;
  justify-content: space-evenly;
}
.painel button{
  margin-bottom: 20px;
  width: 264px;
  height: 411px;
  background-position: center;
  transition: all .4s;
  border:none;
}
.painel button:hover{background-position: center;}
.bt-visao{background: url('../imgs/painel_bt1.png') no-repeat;}
.bt-audicao{background: url('../imgs/painel_bt2.png') no-repeat;}
.bt-olfato{background: url('../imgs/painel_bt3.png') no-repeat;}
.bt-tato{background: url('../imgs/painel_bt4.png') no-repeat;}

.bt-visao:hover{background: url('../imgs/painel_bt1_hv.png') no-repeat;}
.bt-audicao:hover{background: url('../imgs/painel_bt2_hv.png') no-repeat;}
.bt-olfato:hover{background: url('../imgs/painel_bt3_hv.png') no-repeat;}
.bt-tato:hover{background: url('../imgs/painel_bt4_hv.png') no-repeat;}

.bloco3{
  background: rgb(121,53,42);
  background: linear-gradient(90deg, rgba(121,53,42,1) 0%, rgba(41,122,123,1) 100%);
  padding: 30px 0;
}
.bloco4{
  background: url('../imgs/BG4_elem1.png') no-repeat left center, url('../imgs/BG4_elem2.png') no-repeat right center;
  background-size: 10%;
}

.bt-transcricao{
  border: none;
  background-color: transparent;
}
.podcast{
  display: flex;
  flex-wrap: nowrap;
  background: url('../imgs/img_ouvir.png') no-repeat top center;
  padding-top: 420px;
  max-width: 615px;
  margin: 20px auto;
  justify-content: center;
}

.bloco5{
  background: url('../imgs/BG4.jpg') no-repeat top center;
  background-attachment: fixed;
}
.bloco5 .container{
  background-color: transparent;
}
.bloco5 .container *{color: #fff;}
.caixa-destaque-livre.branco{background-color: #fff;}
.caixa-destaque-livre.branco *{color: #000;}
.bloco6{
  background-color: rgb(216,231,226);
  background: url('../imgs/bg6_elem1.png') no-repeat left top / 15%, url('../imgs/bg6_elem2.png') no-repeat right center / 15%, url('../imgs/bg6_elem3.png') no-repeat left bottom / 15%, linear-gradient(180deg, rgba(216,231,226,1) 0%, rgba(186,226,218,1) 100%);
}
.bloco7{
  background: url('../imgs/bg7_elem1.png'), url('../imgs/bg7_elem2.png'), url('../imgs/bg7_elem3.png'), url('../imgs/bg7_elem4.png');
  background-position: top left, top right, left bottom, right bottom;
  background-repeat: no-repeat;
  background-size: 10%;
  background-color: #fcf5e3;
  padding: 30px 0;
}
.bloco7 .container, .bloco8 .container{background: transparent;}
.bloco8{
  background: url('../imgs/bg8.jpg') no-repeat;
  background-attachment: fixed;
  background-size: cover;
}
.bloco9{
  background: #81392d;
  border-top: 10px solid #d1816a;
}
.bloco9 .container{background: transparent;}
.bloco9 .container *{color: #fff;}
.bt-voltar{
  display: table;
  margin: 50px auto;
  transition: all .4s;
}
.bt-voltar:hover{transform: scale(1.1);}


/*------- BOTÃO ÁUDIO ÁGUA -------*/
.btn-audio_agua{
  background: url('../imgs/popup_play.png') no-repeat center;
  background-size: 90%;
  background-color: #d7d7d7;
  width: 80px;
  height: 80px;
  position: fixed;
  z-index: 20;
  border-radius: 100%;
  filter: drop-shadow(#333 4px 4px 4px);
  bottom: 20px;
  right: 20px;
  cursor: pointer;
  transition: all 0.2s;
}
.btn-play_audio{
  background: url('../imgs/popup_play.png') no-repeat center;
  background-size: 100%;
  width: 90px;
  height: 90px;
  border-radius: 100%;
  cursor: pointer;
  transition: all 0.2s;
  display: block;
  margin: 20px auto -5px auto;
}
.btn-audio_agua:hover, .btn-play_audio:hover{
  background-image: url('../imgs/popup_play_hv.png');
}
.btn-fechar_audio{
  background-color: #2a8080 !important;
  color: #fff;
  font-size: 60px;
  font-weight: lighter;
  width: 60px !important;
  height: 60px !important;
  border-radius: 100%;
  border: none !important;
  text-shadow: none !important;
  transition: all 0.2s;
  filter: drop-shadow(#333 8px 8px 8px);
  position: absolute;
  top: 24px;
  right: -50px;
  padding: 0 !important;
  padding-bottom: 5px !important;
  line-height: 0 !important;
}
.btn-fechar_audio:hover{
  background-color: #86c2c2 !important;
  color: #fff;
}


.content-audio_agua{
  background: url('../imgs/popup_fundo.png') no-repeat center;
  background-color: transparent !important;
  box-shadow: none !important;
  height: 395px !important;
  border: none;
  filter: drop-shadow(#333 10px 10px 10px);
}
.body-audio_agua{
  width: 400px;
  margin: auto;
  padding-top: 50px !important;
}

#audio-agua{
  display: none;
}
/*------- BOTÃO ÁUDIO ÁGUA -------*/


@media screen and (max-width: 1024px){
  .bloco7{background: #fcf5e3;}
}

@media screen and (max-width: 580px){
  .modal-body .close, .carousel-control.left, .carousel-control.right{transform: scale(0.8);}
}