@font-face {
  font-family: sourcesans-regular;
  src: url("../fonts/SourceSansPro-Regular.ttf");
}
@font-face {
  font-family: sourcesans-bold;
  src: url("../fonts/SourceSansPro-Bold.ttf");
}
@font-face {
  font-family: InclusiveSans;
  src: url("../fonts/InclusiveSans-Regular.ttf");
}
@font-face {
  font-family: Montserrat-Medium;
  src: url("../fonts/Montserrat/Montserrat-Medium.ttf");
}
@font-face {
  font-family: Montserrat-SemiBold;
  src: url("../fonts/Montserrat/Montserrat-SemiBold.ttf");
}

html{scroll-behavior: smooth;}

body {
  background: url('../imgs/bg_01.jpg') no-repeat center top 0px,
              url('../imgs/bg_02.png') no-repeat center top 1419px,
              url('../imgs/bg_03.png') no-repeat center top 4420px,
              url('../imgs/bg_04.png') no-repeat center top 5750px,
              url("../imgs/asset01_esq.png") no-repeat left 10px top 0% / 8%,
              url("../imgs/asset02_dir.png") no-repeat right 10px bottom 8% / 9%,
              linear-gradient(#785646 0px, #4A3A32 2000px, #E2CDC4 5500px, #A88D9A) center top 2418px;
  background-color: #eedcc8 !important;
  height: auto;
  overflow-x: hidden;
}

.topo{
  margin-top: 30px;
}
.elemento1{margin-left: -33%;}
.elemento2{
  margin-top: 40px;
  margin-left: -15%;
}
.topo .titulo{
  margin-top: 16%;
}
.fundo-tecnicos{
  padding-top: 30px;
  background-color: #F3E7D8;
  border-radius: 0px;
  border: #EBD9C5 solid 2pt;
  position: relative;
}
.container header{
  margin-top: 100px;
  margin-bottom: 30px;
}

.bloco-final{
  background-color: #4F4643;
  margin-top: -100px;
  padding-top: 100px;
}
.bloco-final .container{
  padding: 0px 60px;
}
.bloco-final h3, .bloco-final p{
  color: #fff !important;
}

.w-5{max-width: 50%;}

h2{
  font-size: 30px;
  color: #2A8080;
  font-weight: bold;
}
h3 {
  font-size: 24px;
  margin-top: 60px;
  color: #2A8080;
  font-weight: bold;
}
h4{
  font-weight: bold;
}
h5 {
  font-size: 20px;
}
/*
p, li, a, td {
  font-family: sourcesans-regular;
  font-size: 1.2em;
}
*/
h4, h5 {
  color: #2A8080;
}
.citacao{
  font-size: 14px;
  margin: 0;
  padding-left: 30%;
}
.clique {
  text-align: center;
}
.video {
  margin: 30px auto;
  display: block;
}

.placas-margin {
  margin: 40px auto 0px auto;
}
.fig-largura {
  width: 600px;
}


.bt-voltar{
  background: url('../imgs/ico_topo.png') no-repeat;
  background-size: 100%;
  width: 90px;
  height: 90px;
  display: block;
  margin: 80px auto 50px auto;
  transition: all 0.2s;
}
.bt-voltar:hover{transform: scale(1.1);}


/*---------- MENU ----------*/
.eng-item-menu {
  opacity: 1;
  margin: 0;
  padding: 0;
}
.eng-item-menu hr {
  width: 75%;
  position: relative;
  background-color: #2A8080;
  margin: 0 auto;
  height: 1px;
  border: none;
}
.item1, .item2, .item3, .item4, .item5,
.item6, .item7, .item8, .item9, .item10,
.item11, .item12, .item13, .item14, .item15{
  width: 100%;
  background-color: #2A8080;
  cursor: pointer;
  position: relative;
  margin-bottom: 0 !important;
  padding: 5px 10px;
}
.item1:hover, .item2:hover, .item3:hover, .item4:hover, .item5:hover,
.item6:hover, .item7:hover, .item8:hover, .item9:hover, .item10:hover,
.item11:hover, .item12:hover, .item13:hover, .item14:hover, .item15:hover{
  transition: 0.3s;
  background-color: #2A8080;
}
.menu .item1::before, .menu .item2::before, .menu .item3::before, .menu .item4::before, .menu .item5::before,
.menu .item6::before, .menu .item7::before, .menu .item8::before, .menu .item9::before, .menu .item10::before,
.menu .item11::before, .menu .item12::before, .menu .item13::before, .menu .item14::before, .menu .item15::before{
  content: '';
}
.fundo-item {
  width: calc(100% - 5px);
  position: relative;
  color: #fff;
  font-size: 14.5px;
  padding: 5px 10px;
  text-align: center;
  height: calc(100% - 10px);
  margin: 0 5px 2px 0;
  display: inline-block;
  text-align: left;
  font-weight: bold;
}
.fundo-item:focus {
  color: #fff;
  text-decoration: none;
}
.fundo-item:hover {
  color: #507f7f;
  background: #fff;
  text-decoration: none;
}
.menu, .bg-fundo {
  position: fixed;
  top: 0;
  left: 0;
}
.menu-checkbox {
  position: fixed;
  left: 0;
  top: 0;
  left: -30px;
}
.menu {
  width: 340px;
  height: 100%;
  transform: translate3d(-340px, 0, 0);
  transition: transform 0.35s;
  z-index: 1000;
}
.mod {
  display: block;
}
.overflow {
  position: relative;
}
.fade-check {
  transform: translate3d(0, 0, 0);
}
.menu ul {
  display: block;
  position: relative;
  height: 100%;
}
.menu label.menu-toggle {
  position: absolute;
  top: 80px;
  right: -50px;
  width: 50px;
  height: 50px;
  line-height: 0px;
  display: block;
  padding: 0;
  cursor: pointer;
  text-indent: -9999px;
  background: #fff url("../imgs/menu-alt.png") 50% 50%/25px 25px no-repeat;
  border-top: #2A8080 solid 4px;
  border-right: #2A8080 solid 4px;
  border-bottom: #2A8080 solid 4px;
}
.menu ul li > label {
  background: url("../imgs/icon-arrow-right.png") 95% 50%/16px 16px no-repeat;
}
.fade-check label.menu-toggle{
  background: #fff url("../imgs/menu-alt-close.png") 50% 50%/25px 25px no-repeat;
}
.menu .menu label.menu-toggle {
  background: none;
}
.scroll-bar {
  width: 100%;
  height: 100%;
  overflow-y: auto;
  overflow-x: hidden;
  margin-left: 50px;
}
.scroll-bar:first-child {
  margin-left: 0px;
}
.force-overflow {
  width: 100%;
  height: 100%;
  margin-right: 10px;
}

.menu li.item3, .menu li.item4, .menu li.item5, .menu li.item6, .menu li.item7, .menu li.item8,
.menu li.item9, .menu li.item10, .menu li.item11, .menu li.item12, .menu li.item13, .menu li.item14{
  padding-left: 40px;
}

/*---------- /MENU ----------*/


/*--------- GAITINHA ---------*/
.panel {
  background-color: transparent;
  box-shadow: none;
}
.panel-default {
  border: none;
}
.panel-heading {
  background-color: #2A8080 !important;
  border-radius: 25px;
  padding: 15px 30px;
}
.panel-heading h3 {
  color: #fff !important;
  font-size: 20px;
}
.panel-group .panel-heading+.panel-collapse>.list-group,
.panel-group .panel-heading+.panel-collapse>.panel-body {
  border: none;
  border-left: #2A8080 solid 5px;
  margin-left: 30px;
  padding-right: 40px;
}
/*--------- /GAITINHA ---------*/

/*--------- SLIDESHOW ---------*/
.carousel {
  margin: 40px auto;
  background-color: #2A8080;
  border-radius: 30px;
  width: 680px;
  padding: 40px 0px;
}
.carousel-inner{
  margin: auto;
}
.carousel-inner img{
  margin: 0 auto;
  filter: none;
  width: 600px;
  height: 426px;
}
.carousel-inner p{
  margin-bottom: 0;
  color: #fff;
}
.carousel-control.left {
  background: url("../imgs/seta_voltar.png") no-repeat center;
  margin-left: -100px;
}
.carousel-control.left:hover {
  background: url("../imgs/seta_voltar_hover.png") no-repeat center;
}
.carousel-control.right {
  background: url("../imgs/seta_avancar.png") no-repeat center;
  margin-right: -100px;
}
.carousel-control.right:hover {
  background: url("../imgs/seta_avancar_hover.png") no-repeat center;
}
/*--------- /SLIDESHOW ---------*/

/*--------- PODCAST ---------*/
.div-podcast {
  margin: 50px auto;
  width: 380px;
}
.div-podcast audio {
  filter: drop-shadow(#565656 0px 0px 5px);
  position: relative;
}
.ico-transcricao {
  background: url('../../template/images/transcricao.png') no-repeat;
  background-size: 100%;
  border-radius: 100%;
  width: 57px;
  height: 57px;
  margin: 0px;
  cursor: pointer;
  transition: all 0.2s;
  position: relative;
  float: right;
}
.ico-transcricao:hover {
  transform: scale(1.06);
}
/*--------- /PODCAST ---------*/

/*--------- ABAS ---------*/
.painel-abas.caixa-destaque-livre{
  background-color: #2A8080;
}
.nav-tabs a{
  color: #fff;
}
.nav-tabs a:hover{
  color: #333;
}
.nav-tabs>li.active>a, .nav-tabs>li.active>a:focus, .nav-tabs>li.active>a:hover{
  color: #333 !important;
}

h3.panel-title, .tab-content p{
  color: #fff !important;
}
/*--------- /ABAS ---------*/

/*-------- CARDS --------*/
.flip-card {
  background-color: transparent;
  width: 355px;
  height: 436px;
  margin: 0 auto;
}

.flip-card-inner {
  position: relative;
  width: 100%;
  height: 100%;
  text-align: center;
  transition: transform 0.8s;
  transform-style: preserve-3d;
}

.flip-card:hover .flip-card-inner {
  transform: rotateY(180deg);
  cursor: pointer;
}

.flip-card-front,
.flip-card-back {
  position: absolute;
  width: 100%;
  height: 100%;
  -webkit-backface-visibility: hidden;
  backface-visibility: hidden;
}

.flip-card-back {
  transform: rotateY(180deg);
}
/*-------- /CARDS --------*/


.caixa-destaque{
  background-color: #80392C;
  color: #fff;
  margin: 50px auto;
}


.bg-branco{
  background-color: #fff !important;
  color: #333 !important;
}

.borda-destaque{
  border: #80392C solid 4px !important;
}

.espera-video{
  display: flex;
  justify-content: center;
  align-items:center;
  font-size: 20px;
  color: #fff;
  width: 640px;
  height: 360px;
  box-shadow: #333 5px 5px 6px;
  background-color: #292929;
  margin: 40px auto;
  position: relative;
  z-index: 5;
}

.video-youtube {
  width: 640px;
  height: 360px;
  border-radius: 10px;
}

.img-borda{
  margin-top: 40px;
  border-radius: 20px;
  filter: drop-shadow(#484848 4px 4px 6px);
}

.img-zoom{
  display: table;
  position: relative;
  margin: 0px auto;
  cursor: pointer;
}
.img-zoom::after{
  content: url('../imgs/lupa.png');
  display: block;
  width: 95px;
  height: 95px;
  right: 5px;
  bottom: 5px;
  position: absolute;
  filter: drop-shadow(#333 3px 3px 4px);
}

.img-margin{
  margin: 40px auto;
}

.caixa-destaque-livre{
  background-color: #2A8080;
  color: #fff;
  margin: 50px auto;
}

.bg-vermelho{
  background-color: #80392C !important;
}
.bg-verde{
  background-color: #2A8080 !important;
}
.txt-branco{
  color: #fff !important;
}

/*-------- TABELA --------*/
table.senac{
  border: #80392C solid 2px;
  margin-bottom: 0;
}
table.senac th{
  width: 30%;
  background-color: #80392C;
}
table.senac td{
  background-color: #EDD3D1;
  color: #80392C;
  border: #80392C solid 2px;
  vertical-align: top;
}
/*-------- /TABELA --------*/

/*-------- MODAIS --------*/
.modal-100 .modal-content{
  background: url('../imgs/bg_modal.png') no-repeat;
  background-size: cover !important;
  background-position: center !important;
  background-attachment: fixed !important;
}
.modal-100 .modal-body .container{
  background-color: #fff;
  position: relative;
  margin-bottom: 30px;
  padding: 0px 60px;
  border-radius: 20px;
  padding-top: 30px;
}
.modal-100 li{
  font-size: 16px;
}
.btn-fechar, .btn-default{
  width: 120px;
  height: 50px;
  background-color: #80392C;
  color: #fff;
  font-weight: bold;
}
.btn-fechar::before, .btn-default::before{
  content: 'Fechar';
}
.btn-fechar:hover, .btn-default:hover{
  background-color: #2A8080;
  color: #fff;
}
.btn-fechar{
  position: relative;
  margin: 40px auto;
  display: block;
}

.modal-100 .modal-header .container{
  position: relative;
}
.modal-100 .modal-header button{
  background-color: #80392C !important;
  color: #fff;
  font-weight: bold;
  width: 50px;
  height: 50px;
  border-radius: 100%;
  opacity: 1;
  position: absolute;
  z-index: 40;
  right: 0;
  margin-top: 50px !important;
  margin-right: 20px !important;
}
.modal-100 .modal-header button::before{
  content: 'X';
}
.modal-100 .modal-header button:hover{
  background-color: #2A8080 !important;
  color: #fff;
  opacity: 1;
}

/*-------- /MODAIS --------*/

/*-------- FUNDO LEI --------*/
.div-lei{
  width: 80%;
  margin: 80px auto 100px auto;
  position: relative;
}
.fundo-lei{
  border-radius: 20px;
  background-color: #c6ae9f;
  width: 100%;
  height: 100%;
  display: block;
  position: absolute;
  z-index: 10;
  transform: rotate(-3deg);
}
.conteudo-lei{
  position: relative;
  z-index: 12;
  width: 100%;
  margin: auto;
  border-radius: 20px;
  background-color: #ffeede;
  padding: 30px 60px;
  font-size: 13px;
}
.conteudo-lei::before{
  content: url('../imgs/asset_lei01.png');
  position: absolute;
  width: 120px;
  height: 115px;
  right: 0;
  top: -50px;
}
.conteudo-lei::after{
  content: url('../imgs/asset_lei02.png');
  position: absolute;
  width: 160px;
  height: 101px;
  left: -50px;
  bottom: -60px;
}
/*-------- /FUNDO LEI --------*/

li{
  font-size: 16px;
}
ul{
  margin-left: 25px;
}
ul.marcador-verde li{
  list-style-image: url('../imgs/marcador.png');
}


.painel-planograma{
  background: url('../imgs/painel_fundo.png') no-repeat center;
  background-size: 100%;
  width: 900px;
  height: 1030px;
  margin: 40px auto;
  position: relative;
  text-align: center;
  padding: 0px 200px;
  padding-top: 257px;
}
.btn-planograma{
  position: relative;
  border: none;
  margin: 12px;
  height: 103px;
}

.btn-volumes{
  background: url('../imgs/bt1.png') no-repeat center bottom;
  background-size: contain;
  width: 256px;
}
.btn-altura{
  background: url('../imgs/bt2.png') no-repeat center bottom;
  background-size: contain;
  width: 230px;
}
.btn-focos{
  background: url('../imgs/bt3.png') no-repeat center bottom;
  background-size: contain;
  width: 309px;
}
.btn-equilibrio{
  background: url('../imgs/bt4.png') no-repeat center bottom;
  background-size: contain;
  width: 256px;
}
.btn-olhar{
  background: url('../imgs/bt5.png') no-repeat center bottom;
  background-size: contain;
  width: 403px;
}

.btn-volumes:hover{background-image: url('../imgs/bt1_hv.png');}
.btn-altura:hover{background-image: url('../imgs/bt2_hv.png');}
.btn-focos:hover{background-image: url('../imgs/bt3_hv.png');}
.btn-equilibrio:hover{background-image: url('../imgs/bt4_hv.png');}
.btn-olhar:hover{background-image: url('../imgs/bt5_hv.png');}



@media screen and (max-width: 820px){
  .carousel{
    width: 100%;
    padding: 30px 0px;
  }
  .carousel-inner img{
    width: 560px;
    height: 400px;
  }
  .carousel-control.left {
    margin-left: -60px;
  }
  .carousel-control.right {
    margin-right: -60px;
  }

  .painel-planograma{
    transform: scale(0.75);
    margin: -110px -140px;
  }
}

@media screen and (max-width: 480px){

  .pagina .container.fundo-tecnicos{
    padding-left: 30px;
    padding-right: 30px;
  }
  .bloco-final .container{
    padding: 0px 30px;
  }

  .video-youtube, .espera-video {
    width: 320px;
    height: 180px;
  }

  .caixa-destaque{
    width: 100%;
  }

  /*----- FUNDO LEI -----*/
  .div-lei{
    width: 100%;
  }
  .fundo-lei{
    display: none;
  }
  .conteudo-lei{
    padding: 30px 30px;
    box-shadow: #c6ae9f 7px 7px 0px;
  }
  .conteudo-lei::before{
    width: 90px;
    height: 86px;
    right: 0;
    top: -60px;
  }
  .conteudo-lei::after{
    width: 100px;
    height: 63px;
    left: -40px;
    bottom: -25px;
  }
  /*-------- /FUNDO LEI --------*/

  table.senac{
    width: 100%;
  }

  .painel-planograma{
    background: none;
    transform: scale(0.85);

    margin: -20px auto;
    width: 100%;
    height: auto;
    padding: 0;
  }
  .btn-planograma{
    position: relative;
    border: none;
    margin: 20px auto;
    height: 103px;
  }
  .btn-olhar{
    margin-left: -45px;
  }

}