html{scroll-behavior: smooth;}
body{
  background: url("../imgs/bg.jpg");
  background-repeat: no-repeat;
  background-size: cover;
  background-attachment: fixed;
}
h2, h3, h4 {
  color: #2a8080;
}
h2 em{
  font-size: 25px;
  display: block;
}
h2, h3{
  font-weight: bold;
}
header {
  margin-top: 50px;
}
.grupo-imprimir {
  margin-top: 45px;
  margin-bottom: 20px;
}
.container{max-width: 1080px;}
.panel .img-responsive{max-width: 70%;}
.panel-heading{
  background: #2a8080 !important;
  margin: 0 -10px;
  border-radius: 10px;
}
.panel-heading h4 a{
  background: url('../imgs/ico_gaita_fecha.png') no-repeat right center;
  color: #fff;
  transition: all .4s;
}
.panel-heading h4 a.collapsed{background: url('../imgs/ico_gaita_abre.png') no-repeat right center;}
.panel-group .panel-heading+.panel-collapse>.panel-body{
  border: 2px solid #2a8080;
  border-top: none;
}
.caixa-destaque-livre{
  background-color: #80372d;
}
.caixa-destaque-livre p, .caixa-destaque-livre li{color: #fff;}

li {
  list-style-image: url(../imgs/marcador2.png);
}
.caixa-destaque-livre li{list-style-image: url(../imgs/marcador1.png);}


.figura{
  border-radius: 20px;
  box-shadow: 10px 10px 14px -6px rgba(0,0,0,0.75);
-webkit-box-shadow: 10px 10px 14px -6px rgba(0,0,0,0.75);
-moz-box-shadow: 10px 10px 14px -6px rgba(0,0,0,0.75);
}

.modal-body .btn{
  background: url('../imgs/fechar.png') no-repeat;
  width: 125px;
  height: 61px;
  border: none;
}
.modal-body .btn:hover{background: url('../imgs/fechar_hover.png') no-repeat;}
.modal-body .close{
  background: url('../imgs/ico_fechar.png') no-repeat;
  height: 63px;
  width: 63px;
  opacity: 1;
}
.modal-body .close:hover{background: url('../imgs/ico_fechar_hover.png') no-repeat;}
.modal-body .container{
  background: #f0f0f0;
  padding: 20px 50px;
}
.modal-100 .modal-dialog{background:#f0f0f0;}
.modal-100 .modal-dialog .modal-content .modal-header{
  display: flex;
  flex-wrap: nowrap;
  align-items: center;
  border-bottom: 1px solid #2a8080;
  padding: 0;
}
.modal-100 .modal-dialog .modal-content .modal-header h3{width: 90%;}

.carousel-control.left{
  background: url('../imgs/seta_voltar.png') no-repeat;
  height: 63px;
  width: 63px;
  opacity: 1;
  left: -30px;
  top: 0;
  bottom: 0;
  margin: auto;
}
.carousel-control.left:hover{background: url('../imgs/seta_voltar_hover.png') no-repeat;}

.carousel-control.right{
  background: url('../imgs/seta_avancar.png') no-repeat;
  height: 63px;
  width: 63px;
  opacity: 1;
  right: -30px;
  top: 0;
  bottom: 0;
  margin: auto;
}
.carousel-control.right:hover{background: url('../imgs/seta_avancar_hover.png') no-repeat;}

.painel2, .painel4{
  display: flex;
  flex-wrap: wrap;
  justify-content: space-evenly;
}
.painel{
  width: 743px;
  height: 435px;
  margin: 50px auto;
  background: url('../imgs/painel_fundo.png') no-repeat center center;
  position: relative;
}
.painel button{
  position: absolute;
  width: 242px;
  height: 105px;
  margin-bottom: 20px;
  border:none;
  transition: all .4s;
}

.bt-reconhecimento{
  background: url('../imgs/bt_reconhecimento.png') no-repeat;
  top: 0;
  left: 250px;
}
.bt-lealdade{
  background: url('../imgs/bt_lealdade.png') no-repeat;
  top: 100px;
  left: 0;
}
.bt-qualidade{
  background: url('../imgs/bt_qualidade.png') no-repeat;
  top: 100px;
  right: 0;
}
.bt-associacoes{
  background: url('../imgs/bt_associacoes.png') no-repeat;
  bottom: 0;
  left: 80px;
}
.bt-outros{
  background: url('../imgs/bt_outros.png') no-repeat;
  bottom: 0;
  right: 80px;
}

.bt-reconhecimento:hover{background: url('../imgs/bt_reconhecimento_hv.png') no-repeat;}
.bt-lealdade:hover{background: url('../imgs/bt_lealdade_hv.png') no-repeat;}
.bt-qualidade:hover{background: url('../imgs/bt_qualidade_hv.png') no-repeat;}
.bt-associacoes:hover{background: url('../imgs/bt_associacoes_hv.png') no-repeat;}
.bt-outros:hover{background: url('../imgs/bt_outros_hv.png') no-repeat;}
.mb-0{margin-bottom: 0;}
.mt-0{margin-top: 0;}
.bt-transcricao{
  border: none;
  background-color: transparent;
}
.podcast{
  display: flex;
  flex-wrap: nowrap;
  max-width: 615px;
  margin: 20px auto;
  justify-content: center;
}
.painel2 {
  max-width: 620px;
  margin: 30px auto;
}

.painel2 button{
  width: 301px;
  height: 151px;
  margin-bottom: 20px;
  border: none;
}

.bt-publico{background: url('../imgs/bt_publico_alvo.png') no-repeat;}
.bt-comunique{background: url('../imgs/bt_comunique_se.png') no-repeat;}
.bt-conte{background: url('../imgs/bt_historias_relevantes.png') no-repeat;}
.bt-ofereca{background: url('../imgs/bt_conteudo_valor.png') no-repeat;}

.bt-publico:hover{background: url('../imgs/bt_publico_alvo_hv.png') no-repeat;}
.bt-comunique:hover{background: url('../imgs/bt_comunique_se_hv.png') no-repeat;}
.bt-conte:hover{background: url('../imgs/bt_historias_relevantes_hv.png') no-repeat;}
.bt-ofereca:hover{background: url('../imgs/bt_conteudo_valor_hv.png') no-repeat;}

.painel3{
  width: 743px;
  height: auto;
  margin: 50px auto;
  background: url('../imgs/painel_jornada_do_consumidor.png') no-repeat left center;
  display: flex;
  flex-direction: column;
  align-items: flex-end;
}
.painel3 img{
  width: 41px;
  margin-right: 80px;
  margin-bottom: 30px;
}
.painel3 button{
  margin-bottom: 20px;
  border: none;
  transition: all .4s;
}
.bt-aprendizado{
  width: 214px;
  height: 95px;
  background: url('../imgs/bt_aprendizado_descoberta.png') no-repeat;
}
.bt-problema{
  width: 214px;
  height: 131px;
  background: url('../imgs/vt_reconhecimento.png') no-repeat;
}
.bt-consideracao{
  width: 213px;
  height: 152px;
  background: url('../imgs/bt_consideracao.png') no-repeat;
}
.bt-decisao{
  width: 213px;
  height: 113px;
  background: url('../imgs/bt_decisao.png') no-repeat;
}

.painel4 button{
  width: 285px;
  height: 371px;
  border: none;
  transition: all .4s;
  background-size: contain;
}
.bt-online{background: url('../imgs/bt_online.png') no-repeat center;}
.bt-offline{background: url('../imgs/bt_offline.png') no-repeat center;}

.bt-online:hover{background: url('../imgs/bt_online_hv.png') no-repeat center;}
.bt-offline:hover{background: url('../imgs/bt_offline_hv.png') no-repeat center;}


@media screen and (max-width: 780px){
  .painel{
    position: unset;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-evenly;
    height: unset;
    width: unset;
    background: none;
  }
  .painel button, .painel3 button{
    position: unset;
    top: unset;
    bottom: unset;
    left: unset;
    right: unset;
  }
  .painel3{
    width: unset;
    background: url(../imgs/painel_jornada_do_consumidor.png) no-repeat top center;
    padding-top: 250px;
    background-size: 200px;
    align-items: center;
  }
  .painel3 img{margin-right: 10px;}
}
@media screen and (max-width: 580px){
  .modal-body .close, .carousel-control.left, .carousel-control.right{transform: scale(0.8);}
}